<div class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50  bg-gray-500/70 flex flex-col items-center justify-center">
        @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
